* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
  font-weight: 600;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-title,
.add-author {
  display: block;
  margin-bottom: 5px;
  width: 100%;
  border: 2px solid #000;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.add-title::placeholder,
.add-author::placeholder {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
}

.book-container {
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-bottom: 2.5rem;
}

.book-container::before {
  content: '';
  position: absolute;
  width: 10rem;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  border: 1px solid;
}

.div-container {
  width: 90%;
  margin: 0 auto;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

hr {
  color: #d6d2d2f5;
  width: 100%;
}

.list-container {
  padding-inline-start: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-container:nth-child(odd) {
  background-color: darkgray;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-left: 1rem;
}

.btn-container {
  padding-right: 1rem;
}

.btn {
  border-radius: 0.2rem;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.9);
}

.add-book {
  width: 50%;
  text-align: center;
}

.form {
  position: relative;
  width: 100%;
}

.btn.submit {
  position: absolute;
  right: 0;
}
